---
import "../styles/global.css";
import { SITE } from "@/constants/constants";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href={SITE.url} />
    <title>{SITE.title}</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content={SITE.title} />
    <meta property="og:description" content={SITE.description} />
    <meta property="og:url" content={SITE.url} />

    <meta
      name="google-site-verification"
      content="QcUHWbCbOodhUhP5h_PSpMNELHwN8H9_ATs9MfvWbSo"
    />
  </head>
  <body class="min-h-dvh">
    <slot />
  </body>
</html>
